.sky {
  background-color: #12c7fd;
  position: fixed;
  width: 100%;
  height: 85%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.gameTitle-container {
  position: fixed;
  width: 60%;
  left: 20%;
  height: 12%;
  /*consider putting in a cool background?*/
  /*top: 5%; dont need any spacing*/
  /*background: green;*/
  /*Setting the width of the div at 40%, 30% left, centers the div*/
}
#game-title {
  font-size: 80px;
  text-align: center;
  font-family: fantasy;
  /*add a cool google font*/
  color: white;
}
.welcome-container {
  position: fixed;
  width: 60%;
  left: 20%;
  top: 15%;
  /*background: purple;*/
}
#welcome-form {
  text-align: center;
}
.greetings{
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: fantasy;
}
input {
  font-size: 20px;
  font-family: fantasy;
  text-align: center;
  border-radius: 50%;
}
input[type="Submit"] {
	color: white;
	background: #F55;
  border-radius: 50%;
  font-size: 20px;
	}
.sun {
  position: fixed;
  width: 125px;
  height: 125px;
  background-color: #ffff26;
  left: 4%;
  top: 5%;
  border-radius: 100%;
  z-index: -2;
}
.sun:hover{
  border: dotted #f27d0c;
  cursor: pointer;
}
.sun-text{
  position: relative;
  font-size: 20px;
  font-family: fantasy;
  top: 52.5px;
  text-align: center;
}
.cloud-container {
  position: fixed;
  width: 40%;
  height: 20%;
  top: 25%;
  left: 15%;
  /*background: purple;*/
}
.left.fluff {
  position: absolute;
  width: 33.3%;
  height: 100%;
  left: 5%;
  border-radius: 40%;
  background: white;
}
#fire{
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
#fire:hover{
  cursor: pointer;
}
#rain{
  position: relative;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}
#rain:hover{
  cursor: pointer;
}
#duck{
  position: relative;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 20%;
}
#duck:hover{
  cursor: pointer;
}
.left.fluff.playerPick{
  border: 3px solid blue;
  z-index: 10;
  /*background-color: black;*/
}
.center.fluff.playerPick{
  border: 3px solid blue;
  z-index: 10;
  /*background-color: black;*/
}
.right.fluff.playerPick{
  border: 3px solid blue;
  z-index: 10;
  /*background-color: black;*/
}
.left.fluff.compPick{
  border: 3px solid red;
  z-index: 8;
  /*background-color: black;*/
}
.center.fluff.compPick{
  border: 3px solid red;
  z-index: 8;
  /*background-color: black;*/
}
.right.fluff.compPick{
  border: 3px solid red;
  z-index: 8;
  /*background-color: black;*/
}
.center.fluff {
  position: absolute;
  width: 33.3%;
  height: 100%;
  left: 33.3%;
  border-radius: 40%;
  background: white;
}
.right.fluff {
  position: absolute;
  width: 33.3%;
  height: 100%;
  left:61.6%;
  border-radius: 40%;
  background: white;
}
#tie{
  background: yellow;
}
#win{
  background: green;
}
.donkey {
  position: absolute;
  top: 76%;
  /*background: purple;*/
}
.donkey.left {
  transform: scaleX(-1);
}
#donkey {
  width: 160px;
  height: 150px;
}
#donkey:hover{
  cursor: url(images/rope.png), auto;
}
.cave{
  position: absolute;
  top: 75%;
  left: -1.5%;
  transform: scaleX(-1);
}
#cave{
  width: 210px;
  height: 210px;
}
#cave:hover{
  cursor: pointer;
}
.ground {
  position: fixed;
  background-color: #028900;
  width: 100%;
  height: 15%;
  left: 0;
  top: 85%;
  margin: 0;
  padding: 0;
  border: none;
  z-index: -1;
}
.flower-container {
  position: fixed;
  background-color: #6b4423;
  width: 25%;
  height: 10%;
  left: 20%;
  top: 87%;
  border-radius: 15%;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 1;
  color: yellow;
  /*take color out and replace with flowers for each point*/
}
.house {
  position: fixed;
  /*float: right;*/
  /*can only use float right if use relative*/
  height: 40%;
  width: 25%;
  top: 50%;
  left: 75%;
  background: url(images/brick.gif) repeat;
  z-index: -5;
}


/*changes for half screen*/
@media screen
  and (max-width : 700px) {
  #game-title{
    font-size: 50px;
  }
}
